$dark-white: #E1E4EB;
$white: #fff;

$dark-blue: #1E2A52;
$blue: #025EFF;
$light-blue: #7782A2;
$extra-light-blue: #F9FAFC;

$duration_item_color: $dark-blue;
$duration_description_color: $light-blue;

$logo-color: $blue;
$logo-text-color: $dark-blue;

$option-text-color: $light-blue;
$hover-option-color: #F0F4FF;
$hover-option-text-color: $dark-blue;

$focus-field-color: #F0F4FF;
$focus-field-border-color: $blue;
$focus-field-text-color: $blue;

$save-button-color: $blue;